.main {
  display: flex;
  margin-bottom: 50px;
}
@media (max-width: 1280px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}
.imageMain {
  background-image: url(/remont.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 800px;
  height: 800px;
  display: block;
}
@media (max-width: 1280px) {
  .imageMain {
    height: 400px;
    width: 556px;
  }
}
@media (max-width: 768px) {
  .imageMain {
    height: 420px;
    width: 576px;
  }
}
@media (max-width: 654px) {
  .imageMain {
    height: 300px;
    width: 500px;
  }
}
@media (max-width: 480px) {
  .imageMain {
    display: none;
  }
}
.checkSection {
  background-color: rgb(34, 145, 106);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.checkMarkSection {
  margin-top: 120px;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: rgb(255, 253, 253);
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 380px;
  padding: 10px 10px 0 10px;
  margin: 50px;
}
.checkMarkContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
@media (max-width: 1280px) {
  .checkMarkContainer {
    margin-bottom: 10px;
  }
}
.checkMarkTitle {
  padding-top: 50px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1280px) {
  .checkMarkTitle {
    padding-top: 0;
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .checkMarkTitle {
    font-size: 28px;
    margin-bottom: 10px;
  }
}
.checkMarkText {
  margin: 0;
  font-size: 18px;
  font-family: "Roboto";
  text-align: left;
}
@media (max-width: 1280px) {
  .checkMarkText {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .checkMarkText {
    font-size: 14px;
  }
}
.checkMark {
  border: 2px solid rgb(34, 145, 106);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background-color: rgb(34, 145, 106);
  color: aliceblue;
  flex-shrink: 0;
}
